<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
        <title>PoliTrends</title>
        <center><h1>PoliTrends</h1></center>
    </head>

    <body>
        <center>
            <form class="pure-form">
                <div class="row">
                    <input type="text" class="pure-input-rounded">
                    <input type="text" class="pure-input-rounded" style="margin-left: 150px;">
                </div>
                <div class="row">
                    <input type="text" class="pure-input-rounded" style="margin-left: 150px; margin-top: 10px;">
                </div>
                <button type="submit" class="pure-button">Search</button>
                
            </form>
        </center>
    </body>
</html>